<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <display-name>WorkerServlet</display-name>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>WorkerServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<jsp-file>/main.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/WorkerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
</web-app>
